@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

// customize styles
$black: #343434;

$link: $grey-dark;
$link-hover: $grey;

$family-primary: $family-sans-serif;
$body-weight: $weight-light;

$box-background-color: #daffe6;

.title {
  color: aqua;
}

.navbar {
  &.is-transparent {
    background-color: transparent;
    background-image: none;
  }
}

@import "~bulma";
