@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

// customize styles
$black: #343434;

$link: $grey-dark;
$link-hover: $grey;

$family-primary: $family-sans-serif;
$body-weight: $weight-light;


/* $navbar-height: 2rem; */
/* $box-background-color: #D8F2E1; */

.title {
  color: aqua;
}

.navbar {
  &.is-transparent {
    background-color: transparent;
    /* background-color: #3131313b; */
    background-image: none;
  }
}

.navbar a {
  color: white;
}





@import "~bulma";
